<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Coding Standards" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">

	<description>The Coding standard for the project.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg value="ps"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>

	<!-- SET UP THE RULESETS -->
	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName"/>
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
	</rule>

	<!-- Enforce short arrays. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<rule ref="Squiz.Commenting.FunctionCommentThrowTag.Missing">
		<exclude-pattern>/NilambarCodingStandard/Tests/.+$</exclude-pattern>
	</rule>

	<!-- Check code for cross-version PHP compatibility. -->
	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="7.2-"/>

	<!-- Enforce PSR1 compatible namespaces. -->
	<rule ref="PSR1.Classes.ClassDeclaration"/>
</ruleset>
